---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cloudkit.openshift.io
  resources:
  - clusterorders
  - computeinstances
  - hostpools
  - hosts
  - tenants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cloudkit.openshift.io
  resources:
  - clusterorders/finalizers
  - computeinstances/finalizers
  - hostpools/finalizers
  - hosts/finalizers
  - tenants/finalizers
  verbs:
  - update
- apiGroups:
  - cloudkit.openshift.io
  resources:
  - clusterorders/status
  - computeinstances/status
  - hostpools/status
  - hosts/status
  - tenants/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - hypershift.openshift.io
  resources:
  - hostedclusters
  - nodepools
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - k8s.ovn.org
  resources:
  - userdefinednetworks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubevirt.io
  resources:
  - computeinstances
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
