apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: virtualmachineinstances.kubevirt.io
spec:
  group: kubevirt.io
  names:
    kind: VirtualMachineInstance
    listKind: VirtualMachineInstanceList
    plural: virtualmachineinstances
    singular: virtualmachineinstance
    shortNames:
    - vmi
    - vmis
  scope: Namespaced
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            x-kubernetes-preserve-unknown-fields: true
          status:
            type: object
            x-kubernetes-preserve-unknown-fields: true
