---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: tenants.cloudkit.openshift.io
spec:
  group: cloudkit.openshift.io
  names:
    kind: Tenant
    listKind: TenantList
    plural: tenants
    singular: tenant
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.name
      name: Tenant Name
      type: string
    - jsonPath: .status.namespace
      name: Tenant Namespace
      type: string
    - jsonPath: .status.phase
      name: Phase
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Tenant is the Schema for the tenants API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TenantSpec defines the desired state of Tenant.
            properties:
              clusterName:
                type: string
                x-kubernetes-validations:
                - message: name is immutable once set
                  rule: self == oldSelf
              name:
                type: string
                x-kubernetes-validations:
                - message: name is immutable once set
                  rule: self == oldSelf
            required:
            - clusterName
            - name
            type: object
          status:
            description: TenantStatus defines the observed state of Tenant.
            properties:
              namespace:
                description: Namespace is the namespace allocated to the tenant
                type: string
              phase:
                description: Phase is the phase of the tenant
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
